snippet title "Markdown Title Snippet"
---
title: $1
date: $2
description: $3

categories:
    - $4

image: $5
---

$0

snippet link "Markdown Link Snippet"
[$1]($2)

snippet table "Markdown Table Snippet"
| $1 | $2 |
|:----:|:----:|
| $3 | $4 |
