snippet mycout "Cpp std::cout Snippet"
std::cout << $0 << std::endl;
endsnippet

snippet main "C/Cpp main Snippet"
int main(int argc, char *argv[]) {
	$0
	return 0;
}
endsnippet

snippet class "Cpp class Snippet"
class ${1:Class} {
  public:
	${1:Class}($2);
	~${1:Class}();

	$3
};
endsnippet

snippet ifndef "C/Cpp #ifndef ... #define ... endif"
#ifndef $1
#define $1

#endif
endsnippet
