snippet main "Golang main Snippets"
package main

func main() {
	$1
}
endsnippet

snippet prl "fmt.Println(...)"
fmt.Println($0)
endsnippet

snippet prf "fmt.Printf(...)"
fmt.Printf($0)
endsnippet

snippet func "func ...() { ... }"
func $1($2) {
	$0
}
endsnippet