snippet plugin "Nvim Packer plugin setup Snipper" 
local M = {
    $1
}

M.setup = function()
$2
end

M.config = function()
    local status, $3 = pcall(require, "$4")
    if not status then
        return
    end

    $0
end

return M

snippet keymaps "Nvim Packer keymaps setup Snipper"
local keymaps = {
    { "$1", "$2", "$3" }
}
require("core").setKeyMaps(keymaps)

snippet highlights "Nvim highlights setup Snipper"
local highlights = {
    $0
}
require("core").setHighlight(highlights)
