snippet sh "#!/bin/xsh" b
#!/bin/${1:sh}
endsnippet

snippet if "if ${condition}; then ... fi"
if ${1:condition}; then
	${2}
fi
endsnippet

snippet if "if ${condition} { ... } "
if ${1:condition} {
	$2
}
endsnippet

snippet for "for ${i} (${array}) { ... } "
for ${1:i} (${2:array}) {
	$3
}
endsnippet

snippet function "function ${function}() { ... }"
function ${1:function}() {
	$2
}
endsnippet

