# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
BasedOnStyle: Microsoft
IndentWidth: 4

SeparateDefinitionBlocks: Always
AllowShortEnumsOnASingleLine: false

NamespaceIndentation: All
ShortNamespaceLines: 0
FixNamespaceComments: true

AccessModifierOffset: -4

AlignEscapedNewlines: Left
---
